# Chapter3

In [1]:
import pandas as pd
import datetime

In [2]:
%reload_ext google.cloud.bigquery

In [3]:
def info_df(self, h_or_t: str ='head', n_display: int =5) -> None:
    dic_h_or_t = {
        'head': self.head(n_display),
        'tail': self.tail(n_display)
    }
    print(self.shape)
    display(self.info())
    display(dic_h_or_t[h_or_t])

pd.DataFrame.info_df = info_df

In [4]:
%%bigquery df
select
    *
from
  `tactile-acrobat-231812.practice.3_1_1_mst_users`

In [5]:
df

  user_id register_date  register_device
0    U001    2016-08-26                1
1    U002    2016-08-26                2
2    U003    2016-08-27                3